img {
    max-width: 100%
}

.header,
.footer {
    background-color: navy;
}
.header .logo-link:hover {
    text-decoration: none;
}
.footer{
    color: white;
}


.movie-data .main-img,
.person-data .main-img {
    width: 300px;
}